<%- include('./partials/head') %>

<article>
  <div class="card-container">
    <h1><%= member.name %> <%= member.surname %></h1>
    <h2>Amsterdam, The Netherlands</h2>
    <p><%= member.bio.html%></p>
    <div class="buttons">
      <button class="primary">Message</button>
      <button class="primary ghost">Website</button>
    </div>
    <div class="skills">
      <h3>Skills</h3>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node</li>
      </ul>
    </div>
  </div>
</article>

<%- include('./partials/foot') %>
